//- Global Variables
- let debugFlag = 0 
- let pages = json.pages
- let siteName = json.siteInfo.name
- let siteURL = json.siteInfo.url
- let lang = json.siteInfo.lang

//- Variables from Each Page.
block variables

//- tempalate
doctype html
html(lang=lang)
  head
    include ../_components/head

  body(id=pageID)
    if debugFlag == 1
      include ../_components/debug
    include ../_components/header
    
    main.l-main.border.border-primary
      for k, v in pages
        if v == pageID
          h2 This Page is => 
            span.text-danger '#{v}'

      block content

    include ../_components/footer
    include ../_components/script
