// ==========  Footer Start ==========
footer.l-footer#js-footer
  div.container
    h2 フッター
    nav.l-footer__nav.footer-nav
      ul.footer-nav__list.d-flex.justify-content-between
        each k, v in pages
          if pageID == v
            li.footer-nav__item.footer-nav__item--current #{pages[v]['title']}
          else
            li.footer-nav__item: a.footer-nav__link(href=`/${k.path}`) #{pages[v]['title']}
// ==========  Footer End ==========
