// ========== Script Start ==========
script(src="/assets/js/jquery.min.js")
script(src="/assets/js/bootstrap.bundle.min.js")
<<<<<<< HEAD
script(src="/assets/js/lib.js")
=======
>>>>>>> c64a74ed8d66a36bc7d41cb36e157a2d053067fb
script(src="/assets/js/main.js")
// ========== Script End ==========
