// ========== Header START ==========
header.border
  div.container
    h2 ヘッダー
    ul
      each k, v in pages
        if pageID == v
          li.current #{v}
        else
          li: a(href=`/${k.path}`) #{v}
// ==========  Header END ==========
