// ========== HeroHeader Start ==========
div.hero
  each k, v in pages
    if pageID == v
      p.header-nav__item.current.text-center #{pages[v]['title']}
  //- else
  //-   li.header-nav__item: a.header-nav__link(href=`/${k.path}`) #{v}

// ========== HeroHeader End ==========
