// ========== MainVisual Start ==========
div.main-visual
  div.main-visual__slider
    img(src="https://placehold.jp/3d4070/ffffff/1800x200.png?text=Slider01")
    img(src="https://placehold.jp/41e4b3/ffffff/1800x200.png?text=Slider02")
    img(src="https://placehold.jp/dd843c/ffffff/1800x200.png?text=Slider03")
    img(src="https://placehold.jp/8a74fc/ffffff/1800x200.png?text=Slider04")
// ========== MainVisual End ==========
