//- Global Variables
- 
  const bp = 768

  const assetsPath  = '/assets'
  const cssPath     = assetsPath + "/css/";
  const jsPath      = assetsPath + "/js/";
  const imgPath     = assetsPath + "/img/";
  const fontsPath   = assetsPath + "/fonts/";

  const debugFlag = 1
  const siteName  = json.siteInfo.name
  const siteURL   = json.siteInfo.url
  const lang      = json.siteInfo.lang
  const facebook  = json.siteInfo.facebook
  const facebookID= json.siteInfo.facebookID
  const twitter   = json.siteInfo.twitter
  const twitterID = json.siteInfo.twitterID
  const pages     = json.pages
